body {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

#calculator {
    display: flex;
    width: 15rem;
    flex-wrap: wrap;
    justify-self: center;
    flex-direction: column;
    border: 0.5rem outset lightblue;
    outline: 0.75rem outset khaki;
    border-radius: 0.75rem;
    outline-offset: 0.25rem;
    margin: 2rem;
    padding: 1rem;
}

#instructions {
    padding: 0.5rem;
    margin: 3.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.25rem outset black;
    background-color: bisque;
    max-height: fit-content;
}

#instructions > ul {
    margin: 0;
    padding-left: 2rem;
    padding-right: 0.5rem;
}

#display, #history {
    border: 0.25rem solid black;
    padding: 0.5rem;
    max-width:  calc(100% - 0.75rem);
    text-align: end;
    background-color: lightgray;
    border-bottom: 0;
    overflow: hidden;
}

#history {
    font-size: x-small;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 0;
}

#display {
    border-top: 0;
    font-size: x-large;
    font-weight: bold;
}

#input {
    border: 0.25rem solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.1rem;

}

#input > button {
    font-size: larger;
    margin: 0.2rem;
    flex: 1 0 21%;
}

#clear {
    background-color: red;
}

#seven {
    order: 1;
}

#eight {
    order: 2;
}

#nine {
    order: 3;
}

#add {
    order: 4;
    background-color: orange;
}

#four {
    order: 5;
}

#five {
    order: 6;
}

#six {
    order: 7;
}

#subtract {
    order: 8;
    background-color: orange;
}

#one {
    order: 9;
}

#two {
    order: 10;
}

#three {
    order: 11;
}

#multiply {
    order: 12;
    background-color: orange;
}

#zero {
    order: 13;
}

#decimal {
    order: 14;
}

#sign {
    order: 15;
}

#divide {
    order: 16;
    background-color: orange;
}

#clear {
    order: 17;
}

#backspace {
    order: 18;
    background-color:indianred;
}

#equals {
    order: 19;
    min-width: calc(50% - 0.25rem);
    background-color: lightgreen;
}

