body {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 5px;
    justify-content: center;
}

#calculator {
    display: flex;
    width: 240px;
    flex-wrap: wrap;
    border: 5px solid blue;
    border-radius: 5px;
    justify-self: center;
    margin-top: 10px;
    flex-direction: column;
}

#instructions {
    padding: 5px;
    margin: 10px 20px;
    border-radius: 5px;
    border: solid black 5px;
    background-color: bisque;
    max-height: fit-content;
}

#instructions > ul {
    margin: 0px;
    padding-left: 30px;
    padding-right: 10px;
}

#display, #history {
    border: 2px solid black;
    padding: 5px;
    max-width:  calc(100% - 12px);
    text-align: end;
    background-color: lightgray;
    border-bottom: 0px;
    overflow: hidden;
}

#history {
    font-size: x-small;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 0px;
}

#display {
    border-top: 0px;
    font-size: x-large;
    font-weight: bold;
}

#input {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1px;

}

#input > button {
    font-size: larger;
    margin: 2px;
    flex: 1 0 21%;
}

#clear {
    background-color: red;
}

#seven {
    order: 1;
}

#eight {
    order: 2;
}

#nine {
    order: 3;
}

#add {
    order: 4;
    background-color: orange;
}

#four {
    order: 5;
}

#five {
    order: 6;
}

#six {
    order: 7;
}

#subtract {
    order: 8;
    background-color: orange;
}

#one {
    order: 9;
}

#two {
    order: 10;
}

#three {
    order: 11;
}

#multiply {
    order: 12;
    background-color: orange;
}

#zero {
    order: 13;
}

#decimal {
    order: 14;
}

#sign {
    order: 15;
}

#divide {
    order: 16;
    background-color: orange;
}

#clear {
    order: 17;
}

#backspace {
    order: 18;
    background-color:indianred;
}

#equals {
    order: 19;
    min-width: calc(50% - 4px);
    background-color: lightgreen;
}

